@model List<DataAccessLayer.Models.Product>

@{
	ViewData["Title"] = "List Product";
	Layout = "~/Views/Shared/ShopDashboardLayout.cshtml";
	int CurrentPage = Convert.ToInt32(ViewData["CurrentPage"] ?? 0);
	int EndPage = Convert.ToInt32(ViewData["EndPage"] ?? 0);
}

<link href="~/css/ListProduct.css" rel="stylesheet" />

<div class="list--product">
	<div class="cart-topic">
		<h2>List Product</h2>
	</div>
	<div class="navbar">
		<div class="search">
			<form method="get" asp-controller="ProductManagement" asp-action="Search">
				<input type="text" name="name" placeholder="Search...">
			</form>

		</div>
		<div class="add">
			<button onclick="window.location.href='/ProductManagement/Add'">Add</button>
		</div>
	</div>
	<table class="table-product">
		<tr class="table-header">
			<th>Product</th>
			<th></th>
			<th>Category</th>
			<th>Inventory</th>
			<th></th>

			<th class="edit"></th>
		</tr>
		@foreach (var product in Model)
		{
			<tr>

				<td class="product-image">
					<img src="data:image/*;base64, @Convert.ToBase64String(product.Image)" alt="">
				</td>
				<td class="product-information">
					<p>@product.Name</p>
					<p>@product.Price$</p>
				</td>
				<td class="category">
					@product.Category.Name
				</td>
				<td class="product-inventory">
					<p>@product.Stock.Quantity</p>
				</td>
				<td class="product-button">
					<div class="ground-of-button">
						<button type="button" class="button-edit" onclick="window.location.href='/ProductManagement/Update?Id=@product.Id'">
							Update
						</button>
						<button type="button" class="button-delete" onclick="window.location.href='/ProductManagement/Delete?Id=@product.Id'">
							Delete
						</button>
					</div>
				</td>
			</tr>
		}

	</table>

	<div class="pagination">
		<button @(CurrentPage <= 1 ? "disabled" : "") onclick="window.location.href=`/ProductManagement/@ViewData["Access"]CurrentPage=@(CurrentPage - 1)`"><i class="fa-solid fa-chevron-left"></i> </button>
		@for (int i = 1; i <= EndPage; i++)
		{
			<button @(CurrentPage == i ? "disabled" : "") onclick="window.location.href=`/ProductManagement/@ViewData["Access"]CurrentPage=@i`">@i</button>
		}
		<button @(CurrentPage >= EndPage ? "disabled" : "") onclick="window.location.href=`/ProductManagement/@ViewData["Access"]CurrentPage=@(CurrentPage + 1)`"><i class="fa-solid fa-angle-right"></i></button>
	</div>
</div>




