@model List<GeneralFeedback>
@inject DataAccessLayer.DAO.AccountDAO accountDAO
@{
	var account = await accountDAO.GetAccountById(Context.Session.GetInt32("accountId"));
}

<link href="~/css/feedback.css" rel="stylesheet" />
<div class="feedback">
	<div class="feedback-container">
		<div class="feedback-icon">
			<i class="fa-solid fa-face-laugh-squint"></i>
		</div>
		<div class="feedback-icon">
			<i class="fa-solid fa-face-laugh-squint"></i>
		</div>
		<div class="feedback-icon">
			<i class="fa-solid fa-face-laugh-squint"></i>
		</div>
		<div class="feedback-icon">
			<i class="fa-solid fa-face-laugh-squint"></i>
		</div>
		<div class="feedback-icon">
			<i class="fa-solid fa-face-laugh-squint"></i>
		</div>
	</div>
	<div class="feedback-content">
		<p>Please tell your problem</p>
		<p>We will try to be perfect</p>
	</div>
	@if (account != null)
	{
		<div class="feedback-input">
			<div class="ava-user">
				@if (account.Profile.Image != null)
				{
					<img src="data:image/jpeg;base64, @Convert.ToBase64String(account.Profile.Image)" />
				}
				else
				{
					<img src="~/img/account.jpg" />
				}
			</div>
			<form asp-action="Feedback" asp-controller="Home" class="feedback-input-content" method="post">
				<textarea name="comment"
						  id="feedback-comment"
						  contenteditable="true"
						  placeholder="Enter your feedback..."
						  oninput="auto_grow(this)"></textarea>
				<div class="group-of-button">
					<button type="reset" class="cancel">Cancel</button>
					<button type="submit" class="send">Send</button>
				</div>
			</form>
		</div>
	}
	@foreach (var feedback in Model)
	{
		<div class="feedback-hihi">
			<div class="feedback-user-ava">
				@if (feedback.Account.Profile.Image != null)
				{
					<img src="data:image/jpeg;base64, @Convert.ToBase64String(feedback.Account.Profile.Image)" alt="" />
				}
				else
				{
					<img src="~/img/account.jpg" />
				}
			</div>
			<div class="feedback-user-content">
				<div class="feedback-user-content-header">
					<div class="feedback-user-content-info">
						<div class="feedback-user-name">@feedback.Account.Username</div>
						<i class="fa-solid fa-circle"></i>
						<span id="time-1">@feedback.FeedbackDate</span>
					</div>
				</div>

				<p class="feedback-comment">@feedback.FeedbackText</p>
				@if (@feedback.ResponseText != null)
				{
					<div class="feedback-admin-content">
						<div class="feedback-admin-content-info">
							<div class="feedback-user-name">Shop's Helper</div>
							<i class="fa-solid fa-circle"></i>

							<span id="time-1">@feedback.ResponseDate</span>
						</div>
						<div class="admin-reponse">@feedback.ResponseText</div>
					</div>
				}
			</div>
		</div>
	}
</div>


